
/* {
    color: #31352E #EBEBE8 #D1E2C4 #778A35;
}

#35155D
#512B81
#4477CE
#8CABFF

*/

/*LAYOUt*/

.main-container {
    display: flex;
    width: 100%;
    /*justify-content:space-between;*/

}

ul{
    list-style-type: square;
}

li{
    margin-top: 5px;
    font-size: large;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
nav figure {
    width: 200px;
    justify-content: baseline;
    align-items:center;
}
nav figure img {
    border-radius: 50%;
    width: 200px;
    height: 230px;
}

h1 {
    color:#000000;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'GFS Didot', serif;

}

h2 {
    text-transform: uppercase;
    font-family: 'GFS Didot', serif;

}

nav h2 {
    border-top: #ffffff solid 5px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
}



aside {
    background-color: #6096B4;
    color:#ffffff;
    width: 30%;
    margin-right: 3%;
    padding: 20px 0 20px 5px;
}

.titulos-aside {
    color:#000000;
}

aside section h2 {
    border-bottom: #ffffff solid 5px;
}
aside h2{
    text-transform: uppercase;
    letter-spacing: 5px;
}

.educacion li, 
.personal-skills li {
    line-height: 2em;
}


main {
    width: 70%;
}

/*
main section {
    color: #31352E;
}
*/


main section:first-child{
    background-color: #93BFCF;
    box-shadow: 1px 1px 10px 1px inherit;
    padding:15% 0;

}

.hero {
    text-align: center;

}
main section h1,
main section h2 {
    margin-bottom: 20px;
}

.hero h2{
    border-top: 3px solid #ffffff;
    color:#ffffff;
}
.hero h1 {
    letter-spacing: 1px;
}



.aboutme {
    margin-top: 10px;
    background-color: #BDCDD6;
}

.aboutme h2 {
    background-color: #ffffff;
}

.aboutme  p{
    line-height: 1.8em;
    padding: 20px;
    margin: 5px;
    font-weight: bold;
}

p{
    letter-spacing: 1px;
    font-size: large;
}



main h3{
    margin-top: 30px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 3px;
  
}

main h2 {
    
    text-transform: uppercase;
    letter-spacing: 5px;
}

main h4 {
    letter-spacing: 3px;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    font-weight: normal;
    margin-top: 5px;

}


.references{
    display:flex;
    flex-wrap: wrap;
    background-color: #BDCDD6;
    padding: 20px;
}

.references article{
 /*width: 50%;*/
    flex-basis: 50%;
    text-align: center;

}

.clear {
    clear: both;
}

dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/* dt {
    clear: left;
    width: 30%;
    float: left;
    font-weight: bolder;
}
dd {
    clear: right;
    width: 65%;
    float: left;
    margin: 0;
} */
dt {
    font-weight: bolder;
}

dt,
dd {
    border-top: 1px solid #ffffff;
    line-height: 1.5em;
    flex-basis: 40%;
    margin: 0;
    letter-spacing: 1px;
}

dd {
    font-size:medium;
    display: flex;
    align-items: center;
}

dt:last-of-type,
dd:last-of-type {
    border-bottom: 1px solid #ffffff;
}

.icon {
    list-style: none;
}

.icon a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}
/*ICONS */

.fb::before{
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f082";

}

.tw::before{
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f099";
}
/*Font Awesome 5 Free*/
.lk::before{
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f0e1";
    
}

.gt::before{
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    content: "\f09b";
}

.social-item::before {
    padding-right: 15px;
    font-size: 30px;
    line-height: 1.8em;
    color: #ffffff;

}

/*fireFox*/
meter {
    display: block;
    width: 80%;
    background: #ffffff;
    border-radius: 5px;
}

meter::-moz-meter-bar {
    background: #59e344;
    border-radius: 5px;

}
/*chrome*/
meter::-webkit-meter-optimum-value {
    background: none;
    background-color: #59e344;
}


meter::-webkit-meter-bar {
    background: none;
    background-color:#ffffff;
}


/*
#31352E
#EBEBE8
#D1E2C4
#778A35
*/

/*
#206A5D
#81B214
#BFDCAE
#F1F1E8
*/
